<section class="bg">
    <mat-icon mat-icon-button (click)="closeOptions.emit(null)" appClose matRipple>close</mat-icon>
    <br><br>
    <br>
    <div class="hotkey">
        <div>left</div>
        <span>foto anterior</span>
    </div>
    <div class="hotkey">
        <div>right</div>
        <span>foto siguiente</span>
    </div>
    <div class="hotkey">
        <div>esc</div>
        <span>Cierra modales</span>
    </div>
    <div class="hotkey">
        <div>alt + e</div>
        <span>Cambiar fecha de nacimiento</span>
    </div>
</section>