<section class="bg">
    <div class="close">
        <button mat-icon-button (click)="closeOptions.emit(null)">
            <mat-icon class="close">close</mat-icon>
        </button>
    </div>
    <br><br>
    <br>
    <div class="hotkey">
        <div>left</div>
        <span>foto anterior</span>
    </div>
    <div class="hotkey">
        <div>right</div>
        <span>foto siguiente</span>
    </div>
    <div class="hotkey">
        <div>esc</div>
        <span>Cierra modales</span>
    </div>
    <div class="hotkey">
        <div>alt + e</div>
        <span>Cambiar fecha de nacimiento</span>
    </div>
</section>