.bg {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
mat-icon {
  font-size: 28px;
  color: rgb(97, 94, 94);
}

.flex-column {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  color: black;
  width: 1000px;
  min-width: 1000px;
  display: flex;
  align-items: center;

  .title {
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
    color: #2196f3;
    width: 250px;
    min-width: 250px;
    background-color: white;
    mat-icon {
      cursor: pointer;
    }
  }
  .desc {
    padding: 10px;
    border-left: solid 1px #2196f3;
    width: 100%;
  }
}

.divider {
  margin-top: -11px;
  margin-bottom: 15px;
  margin-left: -11px;
  width: 300px;
  border-top: solid 1px #2196f3;
}
app-options,
app-age {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
}
@media all and (max-width: 800px) {
  .divider {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0px;
    width: 100%;
    border-top: solid 1px #2196f3;
  }
  .info {
    margin: 20px;
    .name {
      text-align: center;
      font-size: 34px;
      color: black;
      margin: 10px;
      mat-icon {
        cursor: pointer;
      }
    }
  }
  .info-item {
    margin: 30px;
  }
  .prev-next {
    display: flex;
  }

  .description {
    color: black;
    width: 100%;
    min-width: auto;
    display: flex;
    flex-direction: column;
    .title {
      text-align: center;
      margin-right: 0px;
      font-weight: bold;
      color: #2196f3;
      width: 100%;
      min-width: auto;
      mat-icon {
        cursor: pointer;
      }
    }
    .desc {
      padding: 10px;
      border-left: none;
    }
  }
}
