<div class="bg" (scroll)="onScroll($event)">
  <app-header></app-header>
  <br>
  <br>
  <section class="flex-column">

    <div class="description">
      <div class="title flex-column">Aspectos rápidos
        <mat-icon matTooltip="Descargar título"
          (click)="goToLink('https://drive.google.com/uc?authuser=0&id=1nLpWAk60G_JBH4bfII3bOh286igiN7Qv&export=download')"
          href="cloud_download">cloud_download</mat-icon>
      </div>
      <div class="desc">
        <div class="divider"></div>
        <app-activity *ngFor="let item of quickAspects" [item]="item"></app-activity>
      </div>
    </div>

    <div class="description">
      <div class="title flex-column">Experiencia</div>
      <div class="desc">
        <div class="divider"></div>
        <app-activity [item]="item" *ngFor="let item of experience"></app-activity>
      </div>
    </div>


    <div class="description">
      <div class="title flex-column">Capacitación | logros
        <mat-icon matTooltip="Descargar certificados"
          (click)="goToLink('https://drive.google.com/uc?authuser=0&id=1Z7c1Axob0E8Xzov4mVKKbnqenCr6ZzNI&export=download')"
          href="cloud_download">cloud_download</mat-icon>
      </div>
      <div class="desc">
        <div class="divider"></div>
        <app-activity *ngFor="let item of certifications" [item]="item"></app-activity>
      </div>
    </div>

  </section>


  <app-options [@enterAnimation] *ngIf="showOptions" (closeOptions)="this.showOptions=false"></app-options>

  <app-age [@enterAnimation] *ngIf="this.showChangeAge" (closeAge)="this.showChangeAge=false"
    (changeAge)="changeAge($event)"></app-age>
</div>