<section class="bg">
    <mat-icon (click)="closeAge.emit(null)" appClose matRipple>close</mat-icon>

    <div class="modal">
        <section>
            <div class="age">
                <div class="title">Fecha de nacimiento</div>
                <input type="text" [(ngModel)]="currentBirthday" (keydown.enter)="this.save()">
            </div>
            <button mat-icon-button [disabled]="!isDate()" (click)="this.save()">
                <mat-icon>save</mat-icon>
            </button>
        </section>
    </div>

</section>